html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}

#panel {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  padding: 5px;
}

.point {
    position:fixed;
    display:none;
    padding:10px 15px;
    background:#f2f2f2;
    font-size:14px;
    font-weight:bold;
    border:1px solid #262626;

    -moz-border-radius: 4px; /* FF1-3.6 */
    -webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    border-radius: 4px 4px 4px 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}