@font-face {
    font-family: Unisect;
    src: url(http://localhost:63342/Replay/Javascript-GPX-track-viewer/app/css/UNISB___.TTF) format("truetype");
}

html,
body {
    width: 100%;
    height: 100%;
}

#wrapper {
    height: 100%;
    position: relative;
}

.dropfocus {
    background: greenyellow;
}

#mapwrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

/* PROFILE */
#profilegraph {
    /*display: none;*/
    background-color: transparent;
}

#start {
    display: none;
    position: absolute;
    bottom: 160px;
    left: 100px;
    color: #808284;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 10px;
    background-color: transparent;
}

#finish {
    display: none;
    position: absolute;
    bottom: 160px;
    right: 50px;
    color: #808284;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 10px;
    background-color: transparent;
}

#malikoplayback {
    display: none;
    position: absolute;
    top: 20px;
    left: 100px;
    color: #939597;
    font-family: "Unisect";
    font-size: 20px;
    background-color: transparent;
}

#statuswell {
    display: none;
    position: absolute;
    bottom: 180px;
    border-radius: 10px; /* another cheat */
    height: 40px; /* cheat */
    left: 100px;
    right: 50px;
    background-color: #e7e7e8;
}

.child {
    /* border: 1px red solid; */
    height: 40px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    font-weight: bold;
}

.classleft {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-radius: 8px 0px 0px 8px;
    background-color: #808284;
    color: #ffffff;
    /* http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    margin-right: -4px;
}

.classleft1 {
    border-radius: 0px;
}

.classleft2 {
    border-radius: 0px;
    width: 200px;
    color: #d2d2d4;
    cursor: pointer;
}

.classleft2:hover {
    border-radius: 0px;
    width: 200px;
    color: #ffffff;
}

.classmiddle {
    border-left: 1px solid #e7e7e8;
    border-top: 1px solid #e7e7e8;
    border-bottom: 1px solid #e7e7e8;
    border-radius: 0px;
    background-color: #e7e7e8;
    color: #58585b;
    /* http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    margin-right: -4px;
}

.classright {
    border-left: 1px solid #e7e7e8;
    border-top: 1px solid #e7e7e8;
    border-bottom: 1px solid #e7e7e8;
    border-radius: 0px 8px 8px 0px;
    background-color: #e7e7e8;
    color: #58585b;
}

.grandchild {
    /*border: 1px red solid;*/
    height: 40px;
    display: flex;
    /* http://stackoverflow.com/questions/5166574/vertical-align-text-in-block-element */
    align-items: center;
    margin-left: 20px;
}

.grandchild20 {
    /*border: 1px red solid;*/
    height: 40px;
    display: flex;
    /* http://stackoverflow.com/questions/5166574/vertical-align-text-in-block-element */
    align-items: center;
    margin-left: 20px;
    color: #a7a9ab;
}

.grandchild10 {
    /*border: 1px red solid;*/
    height: 40px;
    display: flex;
    /* http://stackoverflow.com/questions/5166574/vertical-align-text-in-block-element */
    align-items: center;
    margin-left: 10px;
}

.grandchildleft {
    margin-left: 50px;
}

#profilebackground {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
    background: rgba(256, 256, 256, 0.6);
}

body.profilegraph #profilegraph {
    display: block;

    position: absolute;
    bottom: 10px;
    /** DJH this doesn't work
    margin-left: auto;
    margin-right: auto;
    */
    left: 40px;
    right: 40px;
    height: 150px;
    /*
	width: 100%;
	*/

    background: rgba(256, 256, 256, 0.5);
}

body.profilegraph #wrapper {
}

#dropalert {
    width: 60%;

    position: absolute;
    top: 35%;
    left: 20%;

    text-align: center;
    background: #fff;
    /* border: 1px solid #808080; */

    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.dropfocus #dropalert {
    background: #f4f4f4;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#dropalert #dropalert-wrap {
    margin: 2em 4em;
}

/* PROMO */

#promo {
    position: absolute;
    bottom: 0;
    right: 0;

    display: none;

    background: #f0f0f0;
    color: #666;

    /*
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    */

    padding: 0 6px 6px 6px;

    text-decoration: none;
    text-align: right;
    line-height: 1.4em;

    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

#promo:hover {
    background: #fff;
    color: #000;

    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#promo h2,
#promo h2.alt {
    color: #666;
    margin: 0;
    line-height: 1.4em;
    font-weight: bold;
    font-size: 180%;
}

#promo h2 .small {
    opacity: 0.5;
}

#promo:hover h2.alt {
    color: #000;
}

#promo p {
    margin: 0;
    font-size: 80%;
    line-height: 1em;
}

#promo .hireme {
    text-decoration: underline;
}

#promo .main-legend {
    margin-top: 4px;
}

#promo .main-legend b {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

/* placeholder */
.placeholder {
    /*
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    */
    left: 20%;
    position: absolute;
    text-align: center;
    top: 47%;
    width: 60%;

    color: #888;
}

/** highcharts **/

.myTooltip {
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0px;
    padding: 5px 10px 5px 10px;
    border: 1px #ffffff;
    color: white;
}
